@import url('../../../../../views/theme/css/responsive.css');

.signatures-listWrap, .info-container{
	background: white;
	border-radius: 5px 0px 5px 5px;
	margin: 10px auto; 
	width: 700px;
	height: auto;
	min-height: 200px;
}
.signatures-list, .info-wrap{
	min-height: 100px;
	max-height: 500px;
	height: auto;
	overflow: auto;
	padding: 0px 20px;
}
.info-teacherName{
	margin-bottom: 10px;
}